.graph-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 20px 30px 30px 30px;
    overflow-y: auto;
}

.infobox-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 30px 30px 10px 30px;
    overflow-y: auto;
}

.content-container {
    flex: 1;
    margin-top: 60px;
    overflow-y: auto;
    background-color: rgb(197, 233, 239);
}

.margin-left-reduce {
    margin-left: 60px;
}

.title-container {
    padding: 30px 30px 0px 30px;
}

.title-container h1{
    font-weight: 300;
    color: #3A80FD;
    margin-bottom: 0px;
    margin-top: 0px;
}

.team{
    border: #3A80FD;
    border-style: double;
    border-width: 3px;
    box-shadow: 2px;
    border-radius: 10px;
    margin-left: 20px;
    padding: 10px;
    margin-bottom: 10px;
    width: 600px;
    display: inline-block;
}

.mentors{
    border: #3A80FD;
    border-style: double;
    border-width: 3px;
    box-shadow: 2px;
    border-radius: 10px;
    margin-right: 20px;
    padding: 10px;
    margin-bottom: 10px;
    width: 600px;
    display: inline-block;
    float: right;
    height: 275px;
}

.bold {
    font-weight: bold;
}

@media (max-width: 1250px) {
    .graph-container {
        grid-template-columns: 1fr;
    }
    .infobox-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 750px) {
    .graph-container {
        padding: 30px 10px;
    }
    .infobox-container {
        grid-row-gap: 20px;
        padding: 20px 20px 10px 20px;
    }
    .title-container {
        padding: 20px 20px 0px 20px;
    }
    .title-container h1 {
        font-weight: 300;
        font-size: 1.8rem;
    }
    .bold {
        font-weight: unset;
    }
}

@media (max-width: 650px) {
    .graph-container {
        padding: 20px 0px;
    }
    .infobox-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 350px) {
    .title-container h1 {
        font-size: 1.6rem;
    }
}